h3{
	border-radius: 0.5rem;
	font-family: times new roman;
}
.chua{
	float: left;
	margin:0;
}
.form-check{
	float: left;
	margin-top: 0.2rem;
	margin-left: 1rem;
}
.chech{
	border-radius: 0.5rem;
	font-family: times new roman;
}